/* style.css */

/* Style de base */
body, html {
    height: 100%;
    margin: 0;
    background-color: #6495ed; /* Couleur bleue du ciel */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Titres */
h1, h2, h3 {
    color: #ffffff; /* Couleur du texte en blanc */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Ombre portée */
    margin-top: 20px;
}

/* Conteneur de la caméra */
#camera {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour centrer la vidéo */
.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

/* Flux vidéo */
#video {
    width: 90vw;
    max-width: 97.5%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 1px solid black;
    background-color: gray;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
}

/* Bouton Prendre une photo */
#capture {
    margin-top: 10px;
    font-size: 1.25em;
    padding: 10px 20px;
}

#toggleControlsButton {
    margin-top: 10px;
    font-size: 1.25em;
    padding: 10px 20px;
}

#restartVideo {
    margin-top: 10px;
    font-size: 1.25em;
    padding: 10px 20px;
}

/* Canvas pour l'image capturée */
#snapshot {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#canvas {
    display: none;
    max-width: 80vw;
    border: 1px solid #ccc;
}

/* Contrôles */
#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls button {
    font-size: 1.25em;
    padding: 10px 20px;
    margin: 5px;
}

#sliders {
    display: block;
    margin-top: 1em;
    text-align: center;
}

#sliders label {
    display: block;
    align-items: center;
    color: #ffffff;
    margin: auto;
    text-align: center;
}

#sliders input[type="range"] {
    margin-left: 10px;
}

/* Liens */
a:link {
    color: yellow; /* Jaune pour les liens non visités */
}

a:visited {
    color: #ffd88a; /* Orange clair pour les liens visités */
}

/* Conteneur des boutons de rotation */
#rotationButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#videoControls button{
    font-size: 1.25em;
    padding: 10px 20px;
}

#rotationButtons button {
    font-size: 1.25em;
    padding: 10px 20px;
}

/* Styles pour les boutons d'exportation */
#controls button {
    font-size: 1.25em;
    padding: 10px 20px;
    margin: 5px;
}

#cropButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cropButtons button {
    font-size: 1.25em;
    padding: 10px 20px;
}

#video {
    display: block;
    margin: 0 auto;
}

.video-container:hover video {
    cursor: url("data:image/svg+xml,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%201024%201024'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M356.4%20168.9h318.1c15.3%200%2027.7%2012.4%2027.7%2027.7v83H328.7v-83c0-15.3%2012.4-27.7%2027.7-27.7z'%20fill='%23FFFFFF'/%3E%3Cpath%20d='M729.8%20307.2H301V196.6c0-30.5%2024.8-55.3%2055.3-55.3h318.1c30.5%200%2055.3%2024.8%2055.3%2055.3v110.6z%20m-373.4-55.3h318.1v-55.3H356.3l0.1%2055.3z'%20fill='%23333333'/%3E%3Cpath%20d='M162.8%20238.1h691.5c15.3%200%2027.7%2012.4%2027.7%2027.7v497.9c0%2015.3-12.4%2027.7-27.7%2027.7H162.8c-15.3%200-27.7-12.4-27.7-27.7V265.8c0-15.4%2012.4-27.7%2027.7-27.7z'%20fill='%23FFFFFF'/%3E%3Cpath%20d='M826.6%20791.3H190.4c-30.5%200-55.3-24.8-55.3-55.3V293.4c0-30.5%2024.8-55.3%2055.3-55.3h636.2c30.5%200%2055.3%2024.8%2055.3%2055.3v442.5c0%2030.5-24.8%2055.4-55.3%2055.4zM190.4%20293.4v442.5h636.2V293.3H190.4z'%20fill='%23333333'/%3E%3Cpath%20d='M328.7%20514.7a186.7%20179.8%200%201%200%20373.4%200%20186.7%20179.8%200%201%200-373.4%200Z'%20fill='%238CAAFF'/%3E%3Cpath%20d='M515.4%20722.1c-118.2%200-214.4-93-214.4-207.4s96.2-207.4%20214.4-207.4%20214.4%2093.1%20214.4%20207.4S633.6%20722.1%20515.4%20722.1z%20m0-359.6c-87.7%200-159%2068.2-159%20152.1S427.7%20666.8%20515.4%20666.8s159-68.2%20159-152.1-71.3-152.2-159-152.2z'%20fill='%23333333'/%3E%3Cpath%20d='M439.3%20514.7a76.1%2069.1%200%201%200%20152.2%200%2076.1%2069.1%200%201%200-152.2%200Z'%20fill='%23FFFFFF'/%3E%3Cpath%20d='M515.4%20611.5c-57.2%200-103.7-43.4-103.7-96.8s46.5-96.8%20103.7-96.8%20103.7%2043.4%20103.7%2096.8-46.5%2096.8-103.7%2096.8z%20m0-138.3c-26.7%200-48.4%2018.6-48.4%2041.5s21.7%2041.5%2048.4%2041.5%2048.4-18.6%2048.4-41.5-21.7-41.5-48.4-41.5z'%20fill='%23333333'/%3E%3C/svg%3E") 20 20, auto;
}
